<div class="container align-content-center">
  <div class="row">
    <div class="col-sm align-content-center">
     <%= link_to "Gérer les utilisateurs", admin_users_path, class:"btn btn-primary float-left btn-sm" %>
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm align-content-center">
      <%= link_to "Gérer les évènements", admin_events_path, class:"btn btn-secondary float-left btn-sm" %>
    </div>
  </div>
</div>